BOT_TOKEN=
JWT_SECRET=
PORT=3002
NODE_ENV=production
DOMAIN=your-domain.com
REGISTRY_URL=registry.timeweb.cloud/your-repo
WEBAPP_URL=
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your-email@yandex.ru
SMTP_PASS=your-app-password
EMAIL_FROM=Alfy <your-email@yandex.ru>
